<div class="container">
    <div class="toolbar">
        <div class="nutri">
            <img src="../assets/icons/logo-secondary.svg" alt="Nutri">
        </div>
        <div class="initial-letters">
            <img src="../assets/icons//letters.png" alt="letters" class="letters">
        </div>   
    </div>
    <div class="schedule">
        <h2>Agendadas</h2>
        <div class="add">
            <img src="../assets/icons/add_circle.png" alt="add_circle" class="add_circle">
            <h6>Nova consulta</h6>
        </div>
    </div>
    <div class="header-box">
        <div class="sub-header-box">
            <h6>LOCAL</h6>
            <h6>PROFISSIONAL</h6>
            <h6>DATA</h6>
            <h6>HORÁRIO</h6>
        </div>
    </div>
    <div class="info">
        <div class="info-box">
            <img src="../assets/icons/vector3.png" alt="vector3" class="vector3">
            <h6>CLINICA DE SAÚDE PREVENTIVA</h6>
        </div>
        <div class="info-box">
            <h6>Edson Gabriel de Castro Pinheiro</h6>
        </div>
        <div class="info-box">
            <h6>01/01/2023</h6>
        </div>
        <div class="info-box">
            <h6>14:45</h6>
        </div>
        <div class="info-box">
            <img src="../assets/icons/vector4.png" alt="vector4" class="vector4">
            <h6>Desmarcar</h6>
        </div>
    </div>
    <div class="info">
        <div class="info-box">
            <img src="../assets/icons/vector3.png" alt="vector3" class="vector3">
            <h6>CLINICA DE SAÚDE PREVENTIVA</h6>
        </div>
        <div class="info-box">
            <h6>Edson Gabriel de Castro Pinheiro</h6>
        </div>
        <div class="info-box">
            <h6>01/01/2023</h6>
        </div>
        <div class="info-box">
            <h6>14:45</h6>
        </div>
        <div class="info-box">
            <img src="../assets/icons/vector4.png" alt="vector4" class="vector4">
            <h6>Desmarcar</h6>
        </div>
    </div>
    <div class="schedule2">
        <h2>Histórico de Consultas</h2>
    </div>
    <div class="header-box">
        <div class="sub-header-box">
            <h6>PROFISSIONAL</h6>
            <h6 class="date">DATA DA CONSULTA</h6>
            <h6>PESO DO PACIENTE</h6>
            <h6 class="percent">PORCENTAGEM DE GORDURA</h6>
            <h6>MASSA MAGRA</h6>
        </div>
    </div>
    <div class="info">
        <div class="sub-info-box">
            <h6>Edson Gabriel de Castro Pinheiro</h6>
            <div class="sub-info-box2">
                <img src="../assets/icons/vector3.png" alt="vector3" class="vector3">
                <h6>CLINICA DE SAÚDE PREVENTIVA</h6>
            </div>
        </div>
        <div class="info-box">
            <h6>27/08/2022</h6>
        </div>
        <div class="info-box">
            <h6>79Kg</h6>
        </div>
        <div class="info-box">
            <h6>39Kg</h6>
        </div>
        <div class="info-box">
            <h6>Ver detalhes</h6>
        </div>
    </div>
</div>
