<div class="container">
    <div class="toolbar">
        <div class="nutri">
            <img src="../assets/icons/logo-secondary.svg" alt="Nutri">
        </div>
        <div class="initial-letters">
            <img src="../assets/letters.png" alt="letters" class="letters">
        </div>   
    </div>
    <div class="schedule">
        <h2>Agendadas</h2>
        <div class="add">
            <img src="../assets/add_circle.png" alt="add_circle" class="add_circle">
            <h6>Nova consulta</h6>
        </div>
    </div>
    <div class="header">
        <div class="header-box">
            <h6>LOCAL</h6>
            <h6>PROFISSIONAL</h6>
            <h6>DATA</h6>
            <h6>HORÁRIO</h6>
        </div>
    </div>
</div>
