<div class="container">
   <div class="login">
        <div class="logo">
            <img src="../assets/icons/logo-primary.svg" alt="nutri">        
        </div>
        <div class="register-name"> 
            <input [(ngModel)]="user.email" type="text" placeholder="Usuário" class="username"/>
            <img src="../assets/icons/user.svg" alt="user" class="user">
        </div>
        <div class="register-password"> 
            <input [(ngModel)]="user.password" type="password" placeholder="Senha" class="password"/>
            <img src="../assets/icons/hidden.svg" alt="hidden" class="hidden">
        </div>  
        <button type="submit" class="button1" (click)="getLogin()">ENTRAR</button>
        <button type="submit" class="button2" routerLink="/register">Criar conta</button>
   </div>
</div>
