<div class="container">
   <div class="login">
        <div class="logo">
            <img src="../assets/icons/logo-primary.svg" alt="Nutri">
            
        </div>
        <p class="register-name"> 
            <input type="text" placeholder="Usuário" class="user"/>
            <img src="../assets/icon.png" alt="icon" class="icon">
        </p>
        <img src="../assets/line.png" alt="line" class="line">
        <p class="register-password"> 
            <input type="text" placeholder="Senha" class="password"/>
            <img src="../assets/vector.png" alt="vector" class="vector">
        </p>
        <img src="../assets/line.png" alt="line" class="line">
        <button type="submit" class="button1">ENTRAR</button>
        <button type="submit" class="button2">Criar conta</button>
   </div>
</div>
